




.light-theme{

	--background-main: #3AAFA9;
	--theme-button-border: #0d1518;
	--theme-font-color: #0d1518;
	--theme-button-font-color: #DEF2F1;
	--theme-hover-button-color: #0d1518;
	--theme-hover-button-text: #fff;
	--theme-help-font-color: #0d1518;

}

.dark-theme{

	--background-main: #17252A;
	--theme-button-border: #3AAFA9;
	--theme-font-color: #3AAFA9;
	--theme-button-font-color: #000;
	--theme-hover-button-color: #fff;
	--theme-hover-button-text: #000;
	--theme-help-font-color: #3AAFA9;

}

